.hero-img {
  position: relative;
}

.hero-content {
  position: absolute;
  left: 50%;
  bottom: 130px;
  transform: translateX(-50%);
  z-index: 10000000;
}

.breaker {
  width: 100%;
  position: absolute;
  z-index: 9999999;
  bottom: -67px;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.social-icon-btn img {
  max-width: 35px;
  max-height: 35px;
}

.terms-condition {
  text-align: center;

  color: #fff;
  text-align: center;
  font-size: 13px;
  transition: all 0.5s ease;
  cursor: pointer;

  margin-top: 1.3rem;
  display: block;
}

.terms-condition:hover {
  color: #095b07;
  transition: all 0.5s ease;
}

@media screen and (min-width: 1800px) {
  .hero-content {
    bottom: 152px;
  }
  .social-icons {
    justify-content: center;
  }
  .terms-condition {
    font-size: 20px;
  }
  .breaker {
    width: 100%;
    position: absolute;
    z-index: 9999999;
    bottom: -87px;
  }
}

@media screen and (min-width: 1890px) {
  .hero-content {
    bottom: 182px;
  }
}

@media screen and (max-width: 1251px) {
  .breaker {
    bottom: -57px;
  }
}

@media screen and (max-width: 1120px) {
  .breaker {
    bottom: -47px;
  }
}

@media screen and (max-width: 880px) {
  .breaker {
    bottom: -37px;
  }
}

@media screen and (max-width: 700px) {
  .breaker {
    bottom: -27px;
  }
}

@media screen and (max-width: 500px) {
  .breaker {
    bottom: -17px;
  }
}

